body, h1, h2, h3, h4, h5, h6, p, ol, ul, div {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}

html, body {
    height: 100%;
    background-color: #FF9797;
}

.secondary-red {
    background-color:  #FF4242;
}

.secondary-green {
    background-color: #26B55F;
}



#CONTENT {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content:center;
}

#REGION-TOP {
    flex-grow: 1;
    width: 100%;
}

#REGION-MID {
    flex-grow: 15;
    width: 100%;
}

#REGION-BOT {
    flex-grow: 1;
    width: 100%;
}

#TITLE {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

#MODAL-SETTINGS {
    visibility: hidden;
    background-color: white;

    width: 75%;
    height: 60%;

    position: absolute;
    display: flex;
    flex-direction: column;

    
}

#MODAL-HEADER {

    background-color: black;
    flex-grow: 1;

    display: flex;
    flex-direction: row;

}

#MODAL-CONTENT {
    flex-grow: 20;
    padding: 2em 1em;
}

.settings-textbox {
    margin-bottom: 1em;
}


#MODAL-TITLE {
    font-size: 2em;
    font-family: arial;
    flex-grow: 10;
    color: white;

    display: flex;
    align-items: center;
    padding-left: 0.5em;
}

#MODAL-CLOSE {
    flex-grow: 1;
    background: #ff1515;
    border: none;
    font-size: 1em;
}

#MODAL-CLOSE:hover {
    background: #ff4040;
}

#SETTINGS-NOTIFICATION {
    color: green;
}