
#REGION-MID  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#TIMER {
    display: inline-flex;
    flex-direction: row;
    font-family: 'Share Tech Mono', monospace;
    font-size: 7em;
}


#CANVAS-TIMER {
    position: absolute;
    top: 0;
    left: 0;
}