<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>POMORO</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="APP">
        <h1 id="TITLE"> POMORO </h1>

        <div id="TIMER">
            <p id="MINUTES">{{ ((Math.floor(seconds / 60)) >= 10) ?  Math.floor(seconds / 60) : "0" + Math.floor(seconds / 60)}}</p>
            <p>:</p>
            <p id="SECONDS">{{ ((seconds % 60) >= 10) ? seconds % 60 : "0" + seconds % 60}}</p>
        </div>
        
        <div id="TOOLBAR">
            <button id="BTN-START" v-if="!timer_active" v-on:click="startTimer"><i class="fas fa-play"></i></button>
            <button id="BTN-STOP" v-if="timer_active" v-on:click="stopTimer"><i class="fas fa-stop"></i></button>
            <button id="BTN-RESET" v-on:click="resetTimer"><i class="fas fa-sync-alt"></i></button>

            <button id="BTN-POMODORO" v-on:click="changeTime(1)"><p>POMODORO</p></button>
            <button id="BTN-SHORT" v-on:click="changeTime(2)"><p>SHORT BREAK</p></button>
            <button id="BTN-LONG" v-on:click="changeTime(3)"><p>LONG BREAK</p></button>
            <button id="BTN-SETTINGS" v-on:click="openSettings"><i class="fas fa-cog"></i></button>
        </div>
        
        <div id="SHADE" v-if="show_settings_modal"></div>
        <div id="SETTINGS" v-if="show_settings_modal">
            <h2>Settings</h2>
            <form name="settings">
                <label>Pomodoro</label>
                <input type="number" name="pomodoro" />

                <label>Short Break</label>
                <input type="number" name="shortbreak" />

                <label>Long Break</label>
                <input type="number" name="longbreak" />

                <input type="button" value="SAVE" name="save" id="save" />
                <input type="button" value="CANCEL" name="cancel" id="cancel" />
            
                <a href="https://github.com/malcolmrjones/pomoro"><i class="fab fa-github"></i></a>
            </form>

        </div>
    </div>

    

    
    <script src="main.js"></script>
</body>
</html>  